.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#myContainer{
  width: 100%;
  max-width: 1500px;
  margin: auto;

}

#cal-grid{
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.cal-card{
  width: 14%;
  /* margin: 5px; */
}
.date{
  font-size: 60px;
}
#buttons{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn-circle {
  border-radius: 400px;
}

#year{
  font-size: 50px;
}
#month{
  font-size: 70px;
}

#mbody{
  width: 80%;
}


.cTable{
  margin: auto;
}

.cTable th{
  font-size: 10px;
  text-align: center;
}

/* .cTable td{
  overflow-y: auto;
} */
.width-set{
  min-width: 70%;
}



@media (max-width: 576px) { 

  .cal-card{
      width: 90%;
  }

}

@media (min-width: 576px) { 

  .cal-card{
      width: 30%;
  }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

  .cal-card{
      width: 25%;
  }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  .cal-card{
      width: 20%;
  }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  .cal-card{
      width: 14%;
  }
  
}
